* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.wrap {
  width: 100%;
  height: 100vh;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  border: 1px solid red;
  font-family: $font_primary;
  /* background-color: $light_gray; */
}

.info {
  display: flex;
  flex-direction: column;
  grid-column-start: 1;
  grid-column-end: span 3;
  padding: 30px;
  h1 {
    @extend %title;
  }
  h3 {
    @extend %sub-title;
  }
  p {
    color: $grayish_blue;
    font-size: 16px;
    margin-bottom: 20px;
  }
}

.sub {
  grid-column: 1 / span 3;
  grid-row: 2;
  background-color: $color_primary;
  padding: 15px 30px;
  h2 {
    @extend %sub-title;
    color: white !important;
    margin-bottom: 8px !important;
  }
  .price {
    display: flex;
    align-items: center;
    p {
      font-size: $size_primary + 14;
      color: white;
    }
    span {
      color: $light_gray;
      font-size: $size_primary - 4;
      margin: 0 8px;
    }
  }
  p {
    font-size: $size_primary;
    margin-top: 6px;
    color: $light_gray;
  }
  .button {
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
    margin-top: 30px;
  }
}

.questions {
  padding: 30px;
  grid-column: 1 / span 3;
  grid-row: 3;
  background-color: lighten($color_primary, 20%);
  span {
    @extend %title;
    color: $light_gray !important;
  }

  ul {
    list-style: none;
    margin-top: 20px;
  }
  li {
    margin: 5px;
  }
  li > a {
    color: $light_gray;
    text-decoration: none;
  }
}
