/* VARIABLES */
/* COLORES PRIMARIOS*/
$color_primary: hsl(179, 62%, 43%);
$color_secondary: hsl(71, 73%, 54%);

/* COLORES NEUTRAL */
$light_gray: hsl(204, 43%, 93%);
$grayish_blue: hsl(218, 22%, 67%);

/* FUENTES */
$font_primary: "Karla", sans-serif;
$size_primary: 16px;
